img {
  width: auto;
}

.bg-light > a {
  text-decoration: none;
}
.cp-hd{
  margin:9px;
}
header {
  font-size: 40px;
  color: white;
  border: 1px solid #AAAAAA;
  height: 75px;
  max-width:auto;
  text-align: center;
  margin: 0 auto;
  position:sticky;
  background-color: #202020;
}

.sticky-top{
  font-size: 40px;
  color: white;
  border: 1px solid #AAAAAA;
  height: 75px;
  max-width:auto;
  text-align: center;
  margin: 0 auto;
  position:sticky;
  background-color: #202020;
}

body{
  background-color: MintCream;
}
footer{
  text-align: center;
}
#page-wrap2 {
  max-width:900px;
  height:100%;
  margin: 0 auto;
}

#linkedin {
  position:absolute;
  right: 50px;
  top:16px;
  width: 40px;
  height: 40px;
}

#images{
  height:160px!important;
  width:270px!important;
}

#heading {
  text-decoration: none;
}
nav{
  width: 100vw;
}
.this-me{
  width:100vw;
}
