img {
  width: auto;
}

.card-group > a {
  text-decoration: none;
}

header {
  font-size: 40px;
  color: black;
  border: 1px solid #AAAAAA;
  height: 75px;
  max-width:auto;
  text-align: center;
  margin: 0 auto;
  position:sticky;

}

#page-wrap2 {
  max-width:50%;
  height:100%;
  margin: 0 auto;
}
#linkedin {
  position:absolute;
  right: 50px;
  top:9px;
  width: 40px;
  height: 40px;
}
