.img {
  width: auto;
}

.card-group {
  text-decoration: none;
}

.header {
 font-size: 30px;
 color: #FFFFFF;
 border: 1px dashed blue;
 position: fixed;
 height: 150px;
 width: 100%;
 text-align: center;
}
